<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Welcome to POMS App</h1>
    </div>
    <a type="button" class="btn btn-primary btn-lg" href="/">Home</a>
    <a type="button" class="btn btn-primary btn-lg" href="/addparcel"
      >Add Parcel</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/getparcel"
      >List Parcel</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/getparcelsender"
      >List Parcel by Sender</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/getparcelweight"
      >List Parcel by Weight</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/delete"
      >Delete Parcel</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/update"
      >Update Parcel</a
    >
    <hr />
  </body>
  <body>
    <h2>Delete by ID</h2>
    <form method="post" action="deletepost">
      ID <input type="text" name="id" /><br />
      <button type="submit">Delete</button>
    </form>
  </body>
  <body>
    <h2>Delete by Sender</h2>
    <form method="post" action="deletesender">
      Sender <input type="text" name="sender" /><br />
      <button type="submit">Delete</button>
    </form>
  </body>
  <body>
    <h2>Delete by Criterion</h2>
    <form method="post" action="/deletewg">
      <select name="delete" id="del">
          <option value="weight">Weight</option>
          <option value="address">Address</option>
          <option value="fragile">Fragile</option>
      </select>
    <input type="text" name="criterion" /><br />
    <button type="submit">Delete</button>
    </form>
</body>

  <body>
    <h2>Delete by Sender and Address</h2>
    <form method="post" action="deletepostbysenseraddress">
      Sender <input type="text" name="sender" /><br />
      Address <input type="text" name="address" /><br />
      <button type="submit">Delete</button>
    </form>
  </body>
  <body>
    <h2>Delete by Sender and Weight</h2>
    <form method="post" action="deletepostbysenserweight">
      Sender <input type="text" name="sender" /><br />
      Weight <input type="number" name="weight" /><br />
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
