<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="./css/bootstrap.min.css" />
      </head>
      <body>
        <div class="jumbotron text-center">
          <h1>Welcome to POMS App</h1>
        </div>
        <a type="button" class="btn btn-primary btn-lg" href="/">Home</a>
        <a type="button" class="btn btn-primary btn-lg" href="/addparcel"
          >Add Parcel</a
        >
        <a type="button" class="btn btn-primary btn-lg" href="/getparcel"
          >List Parcel</a
        >
        <a type="button" class="btn btn-primary btn-lg" href="/getparcelsender"
          >List Parcel by Sender</a
        >
        <a type="button" class="btn btn-primary btn-lg" href="/getparcelweight"
          >List Parcel by Weight</a
        >
        <a type="button" class="btn btn-primary btn-lg" href="/delete"
          >Delete Parcel</a
        >
        <a type="button" class="btn btn-primary btn-lg" href="/update"
          >Update Parcel</a
        >
        <hr />
      </body>

<head>
    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #bdbdbdfe}

th {
  background-color: #04AA6D;
  color: white;
}
    </style>
      <head>

        <link rel="stylesheet" href="style.css" />
      </head>
    
</head>

<h2>List by Weight</h2>
<form method="post" action="getparcelweight">
   <input type="text" name="weight1" />
   <h4>between</h4>
   <input type="text" name="weight2" />
  <button type="submit">Submit</button>
</form>

<body>

    </br>
    <h3>The available parcels are:
        <table class="table table-hover table-dark">
            <tr>
                <th>ID</th>
                <th>Sender</th>
                <th>Address</th>
                <th>Weight</th>
                <th>Is Fragile?</th>
            </tr>
            <% for ( let i =0; i< PosDb.length;i++){ %>
                <tr>
                    <td>
                        <%= PosDb[i]._id %>
                    </td>
                    <td>
                        <%= PosDb[i].sender %>
                    </td>
                    <td>
                        <%= PosDb[i].address %>
                    </td>
                    <td>
                        <%= PosDb[i].weight %>
                    </td>
                    <td>
                        <%= PosDb[i].fragile %>
                    </td>
                </tr>
                <% }%>
     </table>
    </h3>
</body>