<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Welcome to POMS App</h1>
    </div>
    <a type="button" class="btn btn-primary btn-lg" href="/">Home</a>
    <a type="button" class="btn btn-primary btn-lg" href="/addparcel"
      >Add Parcel</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/getparcel"
      >List Parcel</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/getparcelsender"
      >List Parcel by Sender</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/getparcelweight"
      >List Parcel by Weight</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/delete"
      >Delete Parcel</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/update"
      >Update Parcel</a
    >
    <hr />
  </body>
  <h2>Invalid data</h2>
</html>
