<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Welcome to POMS App</h1>
    </div>
    <a type="button" class="btn btn-primary btn-lg" href="/">Home</a>
    <a type="button" class="btn btn-primary btn-lg" href="/addparcel"
      >Add Parcel</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/getparcel"
      >List Parcel</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/getparcelsender"
      >List Parcel by Sender</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/getparcelweight"
      >List Parcel by Weight</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/delete"
      >Delete Parcel</a
    >
    <a type="button" class="btn btn-primary btn-lg" href="/update"
      >Update Parcel</a
    >
    <hr />
  </body>
  <head>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      tr:nth-child(odd) {
        background-color: #bdbdbdfe;
      }

      th {
        background-color: #04aa6d;
        color: white;
      }
    </style>
    <head>
      <link rel="stylesheet" href="style.css" />
    </head>
  </head>
  <body>
    <h2>Update Parcel</h2>
    <form method="post" action="/update">
      <table class="table table-hover table-dark">
        <tr>
          <td>ID</td>
          <td>
            <input type="text" name="id" />
          </td>
        </tr>
        <tr>
          <td>Sender</td>
          <td>
            <input type="text" name="sender" />
          </td>
        </tr>
        <tr>
          <td>Address</td>
          <td>
            <input type="text" name="address" />
          </td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>
            <input type="number" name="weight" />
          </td>
        </tr>
        <tr>
          <td>Cost</td>
          <td>
            <input type="number" name="cost" />
          </td>
        </tr>
        <tr>
          <td>
            <button submit>Update</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
